* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --text-color: white;
    --border-color-black: black;
    --text-color-white: darkblue;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color-white);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 200px;
    margin: 1 rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid -var(--background-color);
    text-align: center;
    max-width: 100%;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
}